<!-- MAIN COLUMN -->
<div fxFlex fxLayout="column">
  <!-- FIRST ROW -->
  <div fxLayout="row" fxLayoutGap="10px" fxFlexAlign="space-around">
    <!-- IMMAGE -->
    <div fxLayout="row" fxFlex="15" fxFlex.lt-sm="30">
      <img alt="ciao" src="{{user.photoURL}}">
    </div>
    <!-- FIRST INFO -->
    <div fxLayout="row" fxFlex="85" fxFlex.lt-sm="70">
      <!-- IN COL -->
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="baseline start" fxLayoutGap="6px">
        <!-- INFO -->
        <h2 class="mat-h2">Marco Selva</h2>
        <h3 class="mat-h3">Personal Trainer</h3>
        <h3 class="mat-h3">Livello pluss</h3>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT -->
  <div fxLayout="row wrap">
    <!-- PERSONAL -->
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" >

      <h1 class="mat-h1">Personal Info</h1>
      <mat-divider></mat-divider>
      <div></div>
      <div></div>
      <div></div>
      <h2 class="mat-h2"><b>Nome:</b> </h2>
      <h3 class="mat-h3">{{user.displayName}}</h3>

      <h2 class="mat-h2"><b>Mail:</b> </h2>

      <h3 class="mat-h3">{{user.email}}</h3>

      <h2 class="mat-h2"><b>Password</b> </h2>
      <h3 class="mat-h3">*******</h3>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="baseline" fxLayoutGap="6px" >
        <mat-icon>settings</mat-icon>
        <h3 class="mat-h3"> Modifica </h3>
      </div>
    </div>
    <!-- PAY -->
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" >
      <!-- TITLE -->
      <h1 class="mat-h1">Payment Info</h1>
      <mat-divider></mat-divider>
      <div></div>
      <div></div>
      <div></div>
      <!-- DETAILS -->
      <!-- INFO 1 -->
      <h2 class="mat-h2"><b>PayPal email:</b> </h2>
      <h3 class="mat-h3">marco.96.12@gmail.com</h3>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="baseline" fxLayoutGap="6px" >
        <mat-icon>settings</mat-icon>
        <h3 class="mat-h3"> Modifica </h3>
      </div>
      <!-- INFO 2 -->
      <h2 class="mat-h2"><b>Commisione applicata:</b> </h2>
      <h3 class="mat-h3">10 %</h3>
      <!-- INFO 3 -->
      <h2 class="mat-h2"><b>Registrato dal :</b> </h2>
      <h3 class="mat-h3">12/02/2020</h3>
    </div>
  </div>

</div>



